{% load static %}
<!DOCTYPE html>
<html itemscope="itemscope" itemtype="http://schema.org/WebPage" dir="rtl" lang="fa-IR">

<head>
    <meta charset="utf-8" />
    <meta name='robots' content='max-image-preview:large, index, follow' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="theme-color" content="#f8f9fb" />
    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css" />
    <link rel='stylesheet' href="{% static 'chat.css' %}" type='text/css' />
    {% block dynamic_header %}{% endblock dynamic_header %}
</head>

<body>
    <div class="base-page">
        <div class="content">
            {% include 'chat.html' %}
        </div>
    </div>
</body>
<script>
    const top_bar = document.querySelector(".site-top-header");
    if (!top_bar) {
        document.querySelector(".base-page").style.gridTemplateRows = "20px auto"
    }
</script>

</html>